@import '../../Variables.scss';

.header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
    width: 100%;
    background: radial-gradient(circle, $background 20%, black 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__face {
    width: 400px;
    z-index:1;
}

.header__title {
    position: absolute;
    top:0;
    z-index:2;
}
