@import '../../Variables.scss';

.header {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
    width: 100%;
    background: radial-gradient(circle, $background 20%, $black 80%);
}

.header__title-text {
    font-family: 'Josefin Sans', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size:140px;
    text-transform: uppercase;
    //letter-spacing: -5px;
    text-align: center;
    padding-top:40px;
    z-index:1;
    position: relative;
    color: #c8c8c8;
}

.header__face {
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    z-index:1;
}

// .header__face-appear,
// .header__face-enter {
//   opacity: 0;
// }

// .header__face-appear-active,
// .header__face-enter-active {
//   transition: opacity .3s linear;
//   opacity: 1;
// }

// .header__face-exit {
//   transition: opacity .2s linear;
//   opacity: 1;
// }

// .header__face-exit-active {
//   opacity: 0;
// }

.header__title {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    margin: auto;
    z-index:2;
}


