@import './../Variables.scss';

.music {
    padding: 80px 0;
    position: relative;
    height: auto;
}

.music > .page-heading {
    max-width: 400px;
    width: 400px;
}

.alias-filter-list {
    text-align: center;
    margin: 0 10px;
}

