@import '../Variables.scss';

.home {
    min-height: 100vh;
}

.home__face {
    width: 400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    z-index:1;
}

.home__title {
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    margin: auto;
    z-index:2;
}

.home.home-enter {
    opacity: 1;
    background-color: $stu-face;
}

.home.home-enter-done {
    background-color: radial-gradient(circle, $background 10%, $black 70%);
    transition: background-color 2s ease-out;
}