.about {
    background-image: url('./about.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%; 
}

// .about:after {
//      content: ''; 
//      position: absolute; 
//      top: 0; 
//      left: 0; 
//      bottom: 0; 
//      right: 0; 
//      background: radial-gradient(circle, transparent 50%, black 150%); 
// }