$white: rgb(230, 230, 230);
$black: rgb(19, 19, 19);
$stu-face: #111316;
$background: #212631;
$red: #9a252f;
$light-red: #ff5765;
$vignette-background: radial-gradient(circle, $background 10%, $stu-face 70%);
$page-transition: opacity 0.5s ease-out;
$hover-transition: opacity 0.2s ease-out;